<!DOCTYPE html>
<html>
    <head>
        <title>Am i blind?</title>
        {% load static %}  
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="camera"></div>
        <button onclick="take_snapshot()">Capture</button>
        <div id="result"></div>
    </body>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script> -->
    {% load static %}  
    <script src="{% static 'webcam.min.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>

</html>